{% extends 'doctor_side/doctor_base.html' %}

{% block content %}

<main class="mt-5 pt-3">
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col-lg-4 offset-lg-1">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="{{ doctor_profile.doctor_img_url }}"
                             alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{doctor_profile.name}}</h5>
                        <p class="text-muted mb-1">{{doctor_profile.department}}</p>
                        <p class="text-muted mb-4">{{doctor_profile.position}}</p>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-primary">Profile</button>
<!--                            <button type="button" class="btn btn-outline-primary ms-1">Message</button>-->
                        </div>
                    </div>
                </div>
            </div>

            {# chating component#}
            <div class="col-md-7">

            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-10 offset-lg-1">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Created Date</th>
                        <th scope="col">Client Name</th>
                        <th scope="col">Pet Info</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for client_info in client_infos %}
                    <tr>
                        <th scope="row">{{ client_info.timestamp.strftime("%Y-%m-%d") }}</th>
                        <td>{{ client_info.name }}</td>
                        <td>{{ client_info.pet_name }}-{{ client_info.pet_type }}-{{ client_info.age }}years old-{{
                            client_info.breed }}-{{ client_info.weight }}kg
                        </td>
                        <td>{{ client_info.status }}</td>
                        <td>
                            <button onclick="chat_page('{{ client_info.client_email }}')" type="button" class="btn btn-primary">Open Chat</button>
                            <!-- Other buttons -->
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</main>

    <script>
        function chat_page(email) {
            console.log(email);
        
            $.ajax({
                url: "/paid_chat",
                type: "POST",
                data: email,
                success: function(data) {
                    window.location.href = "/paid_chat";
                },
                error: function(data) {
                    alert("Error");
                }
            });
        }
    </script>

{% endblock %}