{% extends 'base.html' %}

{% block content %}
    <link href="/static/styles_contact.css" rel="stylesheet" />
    <div class = "container">
        <div class="container">
            <div class="row align-items-start">
              <div class="col">
                <img src="{{ doctor.doctor_img_url }}" class="img-fluid" alt="doctor" width="100%">
              </div>
              <div class="col">
                <h2>{{ doctor.name }}</h2>
                <img src="/static/star.png" alt="star" style="height: 30px;">
                <p class="text-start">{{ doctor.department }}</p>
                <p class="text-start"><b>Introduction: </b>{{ doctor.introduction }}.</p>
                
                <div class="d-flex gap-2 justify-content-center">
                    <b>Specialties: </b><span class="badge rounded-pill text-bg-secondary">{{ doctor.speciality }}</span>
                </div>
              </div>

            </div>
            <div class="row align-items-start">
                <!-- <ul class="nav nav-underline">
                    <li class="nav-item"></li>
                      <a class="nav-link active" aria-current="page" href="#">
                       Comments
                      </a>
                    
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                  </ul> -->
                  <div class="container mt-5">
                    <!-- <ul class="nav nav-tabs" id="myTabs">
                      <li class="nav-item">
                        <a class="nav-link active" id="comments-tab" data-toggle="tab" href="#comments"> Patient Comments</a>
                        
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="faqs-tab" data-toggle="tab" href="#faqs">FAQs</a>
                      </li>
                    </ul> -->
                    <h2>Patient Comments</h2>
                  {% for comment in comments %}
                    <div class="tab-content mt-2">
                      <div class="tab-pane fade show active" id="comments">
                        <div class="media mb-4">
                            <img src="{{ comment.avatar }}" class="mr-3 rounded-circle" alt="John Doe's Avatar" style="width: 60px; height: 60px">
                            <div class="media-body">
                              <h5 class="mt-0">{{ comment.name }}</h5>
                              <div class="text-muted mb-2">{{ comment.created_time }}</div>
                              <div class="rating">
                                <!-- Assuming the score is out of 5 -->
                                <span class="star">&#9733;</span> × {{ comment.rate }}
                              </div>
                              <p>
                                "Great experience with the veterinarians! They provided excellent care for my pet. The staff is friendly, and the facilities are clean. Highly recommended!"
                              </p>
                            </div>
                        </div>
                      </div>
                   </div>
                 {% endfor %}
                 </div>
            </div>
        </div>
    </div>
{% endblock %}