{% extends 'base.html' %}

{% block content %}
    <link href="/static/styles_contact.css" rel="stylesheet" />
    <div class = "container">
        <div class="container">
            <div class="row align-items-start">
              <div class="col">
                <img src="{{ doctor.doctor_img_url }}" class="img-fluid" alt="doctor" width="100%">
              </div>
              <div class="col">
                <h2>{{ doctor.name }}</h2>
                <div class="star-container">
                  <img src="/static/star.png" alt="star" class="star">
                  <img src="/static/star.png" alt="star" class="star">
                  <img src="/static/star.png" alt="star" class="star">
                  <img src="/static/star.png" alt="star" class="star">
                </div>
                <p class="text-start">{{ doctor.department }}</p>
                <p class="text-start"><b>Introduction: </b>{{ doctor.introduction }}.</p>
                
                <div class="d-flex gap-2 justify-content-center">
                    <b>Specialties: </b><span class="badge rounded-pill text-bg-secondary">{{ doctor.speciality }}</span>
                    <br/>
                    <div class="d-flex justify-content-center mb-2">
                      <a href="{{ url_for('checkout.create_checkout_session') }}">
                        <button type="button" class="btn btn-primary">Pay CA$25 To Chat With Doctor</button>
                      </a>
                    </div>
                </div>
              </div>

            </div>
            <div class="row align-items-start">
                <!-- <ul class="nav nav-underline">
                    <li class="nav-item"></li>
                      <a class="nav-link active" aria-current="page" href="#">
                       Comments
                      </a>
                    
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                  </ul> -->
                  <div class="container mt-5">
                    <!-- <ul class="nav nav-tabs" id="myTabs">
                      <li class="nav-item">
                        <a class="nav-link active" id="comments-tab" data-toggle="tab" href="#comments"> Patient Comments</a>
                        
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="faqs-tab" data-toggle="tab" href="#faqs">FAQs</a>
                      </li>
                    </ul> -->
                    <h2>Patient Comments</h2>
                  {% for comment in comments %}
                    <div class="tab-content mt-2">
                      <div class="tab-pane fade show active" id="comments">
                        <div class="media mb-4">
                            <img src="{{ comment.avatar }}" class="mr-3 rounded-circle" alt="John Doe's Avatar" style="width: 60px; height: 60px">
                            <div class="media-body">
                              <h5 class="mt-0">{{ comment.name }}</h5>
                              <div class="text-muted mb-2">{{ comment.created_time }}</div>
                              <div class="rating">
                                <!-- Assuming the score is out of 5 -->
                                <span class="star">{{ comment.rate }}</span>
                              </div>
                              <p>
                                  {{ comment.content }}
                              </p>
                            </div>
                        </div>
                      </div>
                   </div>
                 {% endfor %}
                 </div>

                <section id="add_comment" class="container my-4">
                    <form action="/new_comment" method="post">
                        <div class="mb-3 row justify-content-center">
                            <div class="col-sm-5">
                                <input type="text" id="content" name="content" placeholder="Your Comment" class="form-control"
                                       style="background-color: #d8d8d9; height: 150px;">
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-center">
                            <div class="col-sm-5">
                                <input type="text" id="rate" name="rate" placeholder="Rate the Doctor Out Of 1~5" class="form-control"
                                       style="background-color: #d8d8d9">
                            </div>
                        </div>
                        <!-- Done button -->
                        <div class="container">
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-success rounded-pill">Leave Your Comment</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
{% endblock %}