{% extends 'base.html' %} 

{% block content %}
    <div class="row mt-2">
        <div class="col-md-10 offset-lg-1">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Created Date</th>
                    <th scope="col">Client Email</th>
                    <th scope="col">Doctor Email</th>
                    <th scope="col">Chat Page</th>
                </tr>
                </thead>
                <tbody>

                    {% for paid_chat in paid_chats %}    
                        <tr>
                            <th scope="row">{{ paid_chat.timestamp.strftime("%Y-%m-%d") }}</th>
                            <td>{{ paid_chat.user }}</td>
                            <td>{{ paid_chat.doctor_email }}</td>
                            <td><button onclick="chat_page('{{ paid_chat.doctor_email }}')" type="button" class="btn btn-success">Open Chat</button></td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <script>
        function chat_page(email) {
            console.log(email);
           
            $.ajax({
                url: "/paid_chat",
                type: "POST",
                data: email,
                success: function(data) {
                    window.location.href = "/paid_chat";
                },
                error: function(data) {
                    alert("Error");
                }
            });
        }
    </script>

{% endblock %}